h1{
	margin-left: 600px
}
h2{
	margin-left: 680px
}
h1{
	color: red
}
h2{
	color: red
}
body{
	background: #85b0c6
}
p{
	margin-left: 350px
}
img{
	margin-left: 490px
}
button{
	margin-left: 370px
}
button{
	background-color: yellow
}
button{
	font-size: 30px 
}
li{
	margin-left: 380px
}
button{
	border-color: #ffff0000
}
button{
	color: red
}
